.App {
  text-align: center;
  border: 2px solid blueviolet;
  background-color: aliceblue;
  width: 60%;
  height: 60%;
  margin:0 auto;
}
.Parent-Container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.movieForm{
  border: 2px black solid;
  background-color: aquamarine;
margin-right: 120px;
}
.space-x{
  padding: 30px;


}
input{
  padding: 10px;
}
.btn{
  padding: 10px;
  background-color:palegreen;
}
.Parent-List{
  display: flex;
  justify-content: space-between;
  width: 166%;
    margin-top: 58px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
